<!-- begin account  -->
<div class="account">
	<!-- begin account__sidebar  -->
	<div class="account__sidebar">
		<div class="profile">
			<div class="profile__av" style="background-image: url(http://loremflickr.com/80/80)"></div>
			<div class="profile__info">
				<strong>John Doe</strong>
				<span>33, Thailand</span>
			</div>
		</div>
		<ul class="profile__links">
			<li><a href="#">Change Password</a></li>
			<li><a href="#">Track your orders</a></li>
		</ul>
	</div>
	<!-- end account__sidebar -->

	<!-- begin account__content  -->
	<div class="account__content">
		<!-- begin promo  -->
		<div class="promo promo_ac">
			<a href="#" class="promo__submit">Submit Your Design</a>
		</div>
		<!-- end promo -->

		<ul class="tabs">
			<li><a href="#">SUBMIT A DESIGN</a></li>
			<li><a href="#">SUBMITTED DESIGNS</a></li>
			<li><a href="#">PRINTED DESIGNS</a></li>
			<li><a href="#" class="is-active">ARTIST INFO</a></li>
			<li><a href="#">EARNINGS</a></li>
			<li><a href="#">FAQ</a></li>
		</ul>

		//=include item.html
		//=include item.html
		//=include item.html
		//=include item.html
	</div>
	<!-- end account__content -->
</div>
<!-- end account -->