<header class="header">
	<h1 class="header__logo">Tmixer</h1>
	<nav class="nav">
		<ul>
			<li><a href="index.html">Shop</a>
				<div class="nav__dropdown is-special">
					<dl>
					<dt><a href='#'>Men's</a></dt>

					<dd><a href='#'>T-Shirts</a></dd>
					<dd><a href='#'>Raglans</a></dd>
					<dd><a href='#'>Sale</a></dd>

					<dt><a href='#'>Women's</a></dt>

					<dd><a href='#'>T-Shirts</a></dd>
					<dd><a href='#'>Raglans</a></dd>
					<dd><a href='#'>Sale</a></dd>
					</dl>

					<dl>

					<dt><a href='#'>Kids</a></dt>

					<dd><a href='#'>T-Shirts</a></dd>
					<dd><a href='#'>Raglans</a></dd>
					<dd><a href='#'>Sale</a></dd>

					<dt><a href='#'>Gift Cards</a></dt>

					<dt><a href='#'>Collections</a></dt>
					<dd><a href='#'>Bangkok</a></dd>
					<dd><a href='#'>Love</a></dd>
					</dl>
				</div>
			</li>
			<li><a href="voting.html">Vote</a>
				<div class="nav__dropdown">
					<dl>
						<dd><a href="#">Theme 1</a></dd>
						<dd><a href="#">Theme 1</a></dd>
						<dd><a href="#">Theme 1</a></dd>
						<dd><a href="#">Theme 1</a></dd>
					</dl>
				</div>
			</li>
			<li><a href="submit.html">Create</a>
				<div class="nav__dropdown">
					<dl>
						<dd><a href="#">SUBMIT DESIGN</a></dd>
						<dd><a href="#">COMPETITIONS</a></dd>
						<dd><a href="#">HOW IT WORKS</a></dd>
					</dl>
				</div>
			</li>
		</ul>
	</nav>
	<div class="header__search">
		<input type="text" name="" placeholder="Search Tmixer" id="">
		<button><i class="fa fa-search"></i></button>
	</div>
	<div class="header__lang">
		<a href="#" class="is-active">EN</a>
		<a href="#">TH</a>
	</div>
	<div class="header__user">
		<a href='#' class="header__cart"><i class="fa fa-shopping-cart"></i>Cart</a>
		<a href="#" class="header__signin js-signin"><i class="fa fa-user"></i>Sign in</a>
	</div>
</header>