
<!-- begin banner  -->
<div class="banner">
	<div class="banner__slides">
		<div class="banner__slide" style="background-image: url(http://loremflickr.com/800/600)">
			<h1>Big banner text</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione nihil dignissimos labore neque autem quis dolor necessitatibus nisi illo similique voluptatum culpa aperiam iusto, unde recusandae inventore ducimus perspiciatis laborum?</p>
		</div>
		<div class="banner__slide" style="background-image: url(http://loremflickr.com/800/600)">
			<h1>Another big banner text</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione nihil dignissimos labore neque autem quis dolor necessitatibus nisi illo similique voluptatum culpa aperiam iusto, unde recusandae inventore ducimus perspiciatis laborum?</p>
		</div>
	</div>
	<div class="banner__next"><i class="fa fa-arrow-right"></i></div>
	<div class="banner__prev"><i class="fa fa-arrow-left"></i></div>
</div>
<!-- end banner -->

<!-- begin new  -->
<div class="new list">
	<h2>New stuff <a href="#" class="sublink">See all</a></h2>
	//=include item.html
	//=include item.html
	//=include item.html
	//=include item.html
</div>
<!-- end new -->

<!-- begin selected  -->
<div class="selected list">
	<h2>Selected stuff <a href="#" class="sublink">See all</a></h2>
	//=include item.html
	//=include item.html
	//=include item.html
	//=include item.html
</div>
<!-- end selected -->

<!-- begin promo  -->
<div class="promo">
	<a href="submit.html" class="promo__submit">Submit Your Design</a>
	<a href="submit.html" class="promo__how">How it works</a>
</div>
<!-- end promo -->

<!-- begin comp  -->
<div class="comp list">
	<h2>Competition</h2>
	//=include theme.html
	//=include theme.html
	//=include theme.html
	//=include theme.html
	//=include theme.html
</div>
<!-- end comp -->

<!-- begin popular  -->
<div class="popular list">
	<h2>Most voted stuff <a href="#" class="sublink">See all</a></h2>
	//=include item.html
	//=include item.html
	//=include item.html
	//=include item.html
</div>
<!-- end popular -->