<!-- begin submit  -->
<div class="submit">
	<h2 class="submit__title">Submit new design <a href="#">how it works?</a></h2>
	<p class="submit__description">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, mollitia. Voluptate dolorem, labore itaque hic accusamus mollitia voluptates, quas.
	</p>
	<div class="field">
		<label for="">Add your image</label>
		<div class="field__input">
			<input type="file" name="" id="">
			<span class="field__description">Choose your image file to display your design. Your image must be in JPG format (RGB mode not CMYK), 1200 pixels wide x 1200 pixels tall.</span>
		</div>
	</div>
	<div class="field">
		<label for="">Design title</label>
		<div class="field__input">
			<input type="text" name="" id="">
		</div>
	</div>
	<div class="field">
		<label for="">Design description</label>
		<div class="field__input">
			<textarea name="" id="" cols="30" rows="10"></textarea>
		</div>
	</div>
	<div class="field">
		<label for="">Category select</label>
		<div class="field__input">
			<select name="" id="">
				<option value="">Option 1</option>
				<option value="">Option 2</option>
				<option value="">Option 3</option>
				<option value="">Option 4</option>
			</select>
		</div>
	</div>
	<div class="field field_checkbox">
		<label for=""><input type="checkbox" name="aa1" id=""> <span>Join our newsletter</span></label>
	</div>
	<div class="field field_checkbox">
		<label for=""><input type="checkbox" name="aa2" id=""> <span>I agree to the Legal Terms</span></label>
	</div>
	<input type="submit" class="submit__button" value="SUBMIT">
	
</div>
<!-- end submit -->
<!-- begin comp  -->
<div class="comp list">
	<h2>Competitions</h2>
	//=include theme.html
	//=include theme.html
	//=include theme.html
	//=include theme.html
	//=include theme.html
</div>
<!-- end comp -->