<!-- begin vote  -->
<div class="vote">
	
	<div class="vote__meta">
		<div class="vote__userav"></div>
		<div class="vote__by">
			Design by <a href="#">John Doe</a>
		</div>
	</div>
	<div class="vote__pic">
		<img src="img/vote.jpg" alt="">
		<h2 class="vote__title">Title of the design</h2>
	</div>
	<div class="vote__action">
		<div class="vote__buy">Buy</div>

		<div class="vote__score">
			<p>Score design</p>
			<button>5</button>
			<button>4</button>
			<button>3</button>
			<button>2</button>
			<button>1</button>
		</div>
	</div>
</div>
<!-- end vote -->